In [3]:
# operator

'''
-->> The symbols are used for to do the operation on operands
'''
# operation
'''
--->> the process of solving the equations
'''
# operand 
'''
--->> the data with in the operations 
'''
# Based on 2 ways
'''
1. Based on operands 

2. Based on operations
'''
# Based on Operands ---->> no of operands with in the operation
print "unary operator"
'''
1. unary operator

    ===>>> A single operator is operating on single operand
    + , - , not , ~ ----->> examples for unary operators
'''
print + 34  # unary plus
print - 45  # unary minus
print not True # logical not
print ~ 67 # bitwise not
print "binary operators"
'''
2. binary operator

    ===>>> A single operator is operating on the 2 operands
'''
print  12 +  45
print  34 -  23
print 12  <  34
print 45  == 45
print 34  or 23

unary operator
34
-45
False
-68
binary operators
57
11
True
True
34

In [4]:
# Based on the operations 
'''
-->>> Arithmetic Operator
-->>> Relational Operators
-->>> Logical Operators
-->>> Special Operators
-->>> Assignment operator
-->>> Bitwise operators
'''
# Arithmetic Operators
'''
1. addition        +
2. subtraction     -
3. Multiplpication *
4. division        /
5. modulus         %
'''
a = 45
b = 2
print "add : ",a+b
print "sub : ",a-b
print "mul : ",a * b
print "div : ",a/b
print "rem : ",a%b

add :  47
sub :  43
mul :  90
div :  22
rem :  1

In [5]:
a = 45.0
b = 2
print "add : ",a+b
print "sub : ",a-b
print "mul : ",a * b
print "div : ",a/b
print "rem : ",a%b

add :  47.0
sub :  43.0
mul :  90.0
div :  22.5
rem :  1.0

In [7]:
'''
--->> floor devision    //
--->> exponant          **
'''
a = 45
b = 2
print a/b
print a // b
a = 45.0
b = 2
print a/b
print a // b

22
22
22.5
22.0

In [8]:
print 10 ** 3
print 12  ** 2
print 2  ** 5

1000
144
32

In [1]:
# wap find the are of circle  ( pi * ( r **2))
r = input("enter raduis in meters : ")
pi = 22.0/7
area = pi*(r ** 2)
print "area : ",area," sq . m "

enter raduis in meters : 5
area :  78.5714285714  sq . m

In [ ]:
# wap find the area and perimeter of square
# wap find the area and perimeter of rectangle
# wap find the area and perimeter of triangle
# wap find the area and volume of cube
# wap find the simple interest

In [1]:
# Relational Operators
'''
--->>> to compare any  two operands
--->>> we can use as a conditions 
--->>> the results  ( True / False) --->> Boolean Operators
'''
# less than       < 
# greater than    >
# equal too       ==
# not equal to    !=
# lessthan or equal too   <=
# greaterthan or equal too  >=
'''
wap for understanding the relational operators
'''
a = 12
b = 10
print a," < ",b," ==>>  ", a<b
print a," > ",b," ==>>  ", a>b
print a," == ",b," ==>>  ", a==b
print a," != ",b," ==>>  ", a!=b
print a," <= ",b," ==>>  ", a<=b
print a," >= ",b," ==>>  ", a>=b

12  <  10  ==>>   False
12  >  10  ==>>   True
12  ==  10  ==>>   False
12  !=  10  ==>>   True
12  <=  10  ==>>   False
12  >=  10  ==>>   True

In [2]:
a = 12
b = 12
print a," < ",b," ==>>  ", a<b
print a," > ",b," ==>>  ", a>b
print a," == ",b," ==>>  ", a==b
print a," != ",b," ==>>  ", a!=b
print a," <= ",b," ==>>  ", a<=b
print a," >= ",b," ==>>  ", a>=b

12  <  12  ==>>   False
12  >  12  ==>>   False
12  ==  12  ==>>   True
12  !=  12  ==>>   False
12  <=  12  ==>>   True
12  >=  12  ==>>   True

In [3]:
a = 12
b = 15
print a," < ",b," ==>>  ", a<b
print a," > ",b," ==>>  ", a>b
print a," == ",b," ==>>  ", a==b
print a," != ",b," ==>>  ", a!=b
print a," <= ",b," ==>>  ", a<=b
print a," >= ",b," ==>>  ", a>=b

12  <  15  ==>>   True
12  >  15  ==>>   False
12  ==  15  ==>>   False
12  !=  15  ==>>   True
12  <=  15  ==>>   True
12  >=  15  ==>>   False

In [4]:
#wap find the given number is even or not 
num = input("enter a number : ")
rem = num % 2
print num," is even : ",rem == 0

enter a number : 14
14  is even :  True

In [5]:
#wap find the given number is even or not 
num = input("enter a number : ")
rem = num % 2
print num," is even : ",rem == 0

enter a number : 75
75  is even :  False

In [7]:
# Assignment operators 
'''
to assign the data from right side to left side variable
'''
var  = 12 # constant to variable
b   = var # variable to variable
c = b *12 + var+23# expression to variable
print var
print b
print c

12
12
179

In [8]:
# compound assignment 
a = 12
b = 23
print a
print b
a = a+b # addition then update # speed is less
print a
print b

12
23
35
23

In [9]:
a = 12
b = 23
print a
print b
a += b   #a = a+b # addition then update # speed is more
print a
print b

12
23
35
23

In [10]:
a = 12
b = 23
print a
print b
a -= b   #a = a-b # subtraction then update # speed is more
print a
print b

12
23
-11
23

In [11]:
# logical operator
'''
--->>> Logical OR---->>>    or
--->>> Logical AND--->>>   and
--->>> Logical NOT---->>>   not
'''
# Logical or --->> OR
'''
ip1 or  ip2 ---->>>> ip1  / ip2

res --->> ip1 ,   when ip1 is True case
res --->> ip2 ,  when ip1 is False case
'''
# int  ,   0 ---->> False  ,   +ve / -ve ---> True
# float,   0.0 -->> False ,   +ve/-ve ----->> True
# complex  0+0j -->> False,   +ve/-ve ----->> True
# bool
# None  ---------->> False
# str, list, tuple, set, dict --->> len is 0 --> false,  ow-->> True

print  34 or 45 # 34
print  0 or 23  # 23
print [] or 0   # 0
print [] or 2   # 2

34
23
0
2

In [12]:
# Logical AND --->> and
'''
ip1 and  ip2 ---->>>> ip1  / ip2

res --->> ip1 ,   when ip1 is False case
res --->> ip2 ,  when ip1 is True case
'''
print  34 and 45 #  45
print  0 and 23  # 0
print [] and 0   # []
print [] and 2   # []

45
0
[]
[]

In [13]:
#logical not --->> not

'''
not ip  --->> True/ False
res --->> True   ,  ip --->> False case
res --->> False  , ip ---->> True case
'''
print not 45 # Fasle
print not [] # True
print not "123"# False

False
True
False

In [2]:
#special operator
'''
--->> Membership Operator

====>>> To check the availability of one element in seq of elements

        1. in 
        
            True --->> Avaialble
            False --> not available
            
        2. not in
        
            True --->>not Avaialble
            False --> available        

--->> Identity operator
    --->> to check the memory loc is same or not
    
    1. is 
    
        True --->>> Same
        False --->> different
        
    2. is not

        True --->>> different
        False --->> same
        

'''
a = 12
b = [34,45,23]
c = 45
print a in b
print a not in b
print c in b
print c not in b

False
True
True
False

In [5]:
a = [1,2,3]
b = [1,2,3]
print id(a)
print id(b)
print a is b
print a is not b

82760008
81215240
False
True

In [6]:
a = [1,2,3]
b = a
print id(a)
print id(b)
print a is b
print a is not b

82760712
82760712
True
False

In [7]:
# bitwise operator
'''
--->>>which are operating on  binary data 
1. bitwise or |
2. bitwisr and &
3. bitwise xor ^
4. bitwise not ~
5. bitwise leftshift  <<
6. bitwise rightshift  >>

'''
print 6  | 10

14

In [8]:
print 6 & 10

2

In [10]:
print 6 ^ 10

12

In [11]:
print ~5
print ~89
print ~45

-6
-90
-46

In [12]:
# leftshift
'''
num << bit_pos

--->> num --->>binary
-->> bit_pos  ---->> no of bit_pos zeros we shpuld add at right sie

'''
print 10 << 3

80

In [13]:
# right shift
'''
num >> bit_pos

--->> num --->>binary
-->> bit_pos  ---->> no of bit_pos removes at right sie

'''
print 10 >> 3
print 45 >> 2

1